<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-2 " style="height:500px"></div>
        <div class="col-lg-2 ">
            <div class="card" style="width:100%; cursor: pointer;" onclick="clicked('tb')">
                <div class="card-body">
                    <h5 class="card-title">Total Beneficiaries</h5>
                    <p class="card-text">Numbers: 60000</p>
                    <p class="card-text">Percentage: 100%</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
            <div class="card" style="width:100%; cursor: pointer;" onclick="clicked('lip')">
                <div class="card-body">
                    <h5 class="card-title">LIPs</h5>
                    <p class="card-text">Numbers: 2000</p>
                    <p class="card-text">Percentage: 100%</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
            <div class="card" style="width:100%; cursor: pointer;" onclick="clicked('cbt')">
                <div class="card-body">
                    <h5 class="card-title">CBT</h5>
                    <p class="card-text">Numbers: 1000</p>
                    <p class="card-text">Percentage: 100%</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
            <div class="card" style="width:100%; cursor: pointer;" onclick="clicked('ebp')">
                <div class="card-body">
                    <h5 class="card-title">EBP</h5>
                    <p class="card-text">Numbers: 500</p>
                    <p class="card-text">Percentage: 100%</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-6 " id="chartdiv"></div>
        <div class="col-2 ">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead>Color Differentiation</thead>
                    <tbody>
                        <tr>
                            <td>
                                <div style="height:10px; width:30px; border-radius:2px; margin-top:30%; background-color:#a367dc"></div>
                            </td>
                            <td>Total</td>

                        </tr>
                        <tr>
                            <td>
                                <div style="height:10px; width:30px; border-radius:2px; margin-top:30%; background-color:#67b7dc"></div>
                            </td>
                            <td>Host Male</td>

                        </tr>
                        <tr>
                            <td>
                                <div style="height:10px; width:30px; border-radius:2px; margin-top:30%; background-color:#6794dc"></div>
                            </td>
                            <td>Host Female</td>

                        </tr>
                        <tr>
                            <td>
                                <div style="height:10px; width:30px; border-radius:2px; margin-top:30%; background-color:#6771dc"></div>
                            </td>
                            <td>Refugee Male</td>

                        </tr>
                        <tr>
                            <td>
                                <div style="height:10px; width:30px; border-radius:2px; margin-top:30%; background-color:#866fdd"></div>
                            </td>
                            <td>Refugee Female</td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

</div>
